.flex__box {
    display: flex;
    justify-content: space-around;
}


.box {
     display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    align-content: center;
    align-items: center;
    border-color:aquamarine;
    background-color:blanchedalmond;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5em;
}


.productos__img {
    width: auto;
    height: 25em;
    border-radius: .5em;
    margin: .5rem;
}