<h1 class="text-center m-1">Formulario login</h1>
{{#if error}}
    <p class="text-danger">{{error}}</p>
{{/if}}
{{!-- <form >
    <label>Nombre:</label>
    <input type="text" class="form-control" placeholder="Ingresa tu nombre" name="name"/>
    <button type="submit" class="btn btn-success m-2">Iniciar sesion</button>
</form> --}}
<form action="/api/auth/login" method="post" class="row g-3">
  <div class="col-auto">
    <label for="staticEmail" class="col-sm-2 col-form-label ms-3">Nombre:</label>
    </div>
    <div class="col-auto">
    <input type="text" class="form-control"  placeholder="Ingresa tu nombre" name="name">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Iniciar sesion</button>
  </div>
</form>